* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}
::selection {
  background-color: #e45447;
  color: #fff;
}
@media screen and (max-width: 375px) {
  .App {
    /* width: fit-content; */
  }
}